local_deploy.sh
stag_deploy.sh
target
mytest/
.settings
.classpath
.project
.settings
.iml
.DS_Store
.idea
*.iml
gwt-unitCache/
widgetsets/
*.log
*.cdr
*.edr
.springBeans
.tmp
.metadata
bin
gen
.gwt
*.mwb.bak
environment.properties
environmentLocator.properties
dev/
release.sh

